body {
  background: #b3b4b8;
}
.my-center {
  margin-left: auto;
  margin-right: auto;
}

.footer {
  font-size: .8rem;
  color: white;
}

.error {
  font-weight: bold;
}

.color-red {
  color: red;
}

.color-white {
  color: white;
}

.background-color-white {
  background-color: white;
}

nav {
  background-color: rgb(51, 62, 84) !important;
}

a {
  color: white !important;
}

.imgLink:hover {
  border: 1px solid blue !important;
  border-radius: 15%;
  -webkit-transform: scale(1.5);
  -moz-transform: scale(1.5);
  -o-transform: scale(1.5);
  -ms-transform: scale(1.5);
  transform: scale(1.5);
}

.link {
  color: black !important;
}

.link:hover {
  color: blue !important;
}

a:hover {
  color: yellow !important;
}

.active {
  text-decoration: underline !important;
}

.not-active {
  text-decoration: none !important;
}

.reset-link {
  background: none;
  color: blue;
  border: none;
}

.w-12 {
  width: 5rem;
}
